.api-data {
  background: rgb(174, 174, 174);
  width: 40vw;
  margin: 10em auto;
  padding: 20px 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 3px double rgb(0, 0, 0);
}
.taskheader{
  text-align: center;
  border-bottom: 2px, solid, black; 
  font-size: medium; 
  font-weight: bold; 
  
}